@import "mixin";
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body,html,div,p,ul,li{
  margin:0;
  padding:0;
}
body,html{
  height:100%;
  //overflow: hidden;
  font-family:STSong,SimSun,FangSong;
}
.none{
  display: none;
}
.main{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.header-bar{
  position: fixed;
  z-index: 12;
  top:0;
  left:0;
  right:0;
  height:40px;
  .menu-wrap{
    position: absolute;
    top:0;
    left:0;
    height:40px;
    line-height:40px;
    width:60px;
    text-align: center;
    img{
      height:16px;
      cursor: pointer;
    }
  }

  .title-wrap{
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin: auto;
    width:80px;
    height:50px;
    line-height: 50px;
    text-align: center;
    img{
      vertical-align: middle;
      height:40px;
      cursor: pointer;
    }
  }

  .share-wrap{
    position: absolute;
    top:0;
    right:0;
    width:80px;
    height:50px;
    line-height: 50px;
    text-align: center;
    img{
      height:22px;
      cursor: pointer;
    }
  }

}
.menu-mask{
  z-index: 99;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(0,0,0,0.8);
  transform: translateZ(0px) rotateY(-90deg);
  -webkit-transform: translateZ(0px) rotateY(-90deg);
  -moz-transform: translateZ(0px) rotateY(-90deg);
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  &.active{
    transform: translateZ(0px) rotateY(0deg);
    -webkit-transform: translateZ(0px) rotateY(0deg);
    -moz-transform: translateZ(0px) rotateY(0deg);
  }
  .close{
    position: absolute;
    top:20px;
    left:20px;
    cursor: pointer;
  }
  .menu-list{
    margin: auto;
    text-align: center;
    padding-top: 150px;
    width:100px;
  }
  .menu-item{
    cursor: pointer;
    margin-bottom: 40px;
    &.history{
      width:40px;
    }
    &.tool{
      width:70px;
    }
    &.act{
      width:50px;
    }
    &.news{
      width:70px;
    }
  }
}

.scene{
  position: relative;
  overflow: hidden;
  height:100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  &.scene-1{
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1;
    .logo{
      width:396px;
      margin-top:160px;
    }
    .mouse{
      cursor: pointer;
      position: absolute;
      width:30px;
      left:0;
      right:0;
      margin:auto;
      bottom:100px;
      @include opacity(3s);
    }
    .video-mask{
      position: absolute;
      right: 0;
      bottom: 0;
      top:0;
      left:0;
      z-index: -2;
      &::before{
        position: absolute;
        content: " ";
        right: 0;
        bottom: 0;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.5);
      }
    }
    video{
      position: absolute;
      width:100%;
      height:120%;
      background: url("../img/bg.png") no-repeat;
      right: 0;
      top:-10%;
      left:0;
      z-index: -100;
      background-size: cover;
    }
  }

  &.scene-2{
    background-color: #e9e3cb;
    z-index: 2;
    .dot-wrap{
      position: absolute;
      z-index: 2;
      bottom:60px;
      left:0;
      right:0;
      text-align: center;
      .dot{
        display: inline-block;
        list-style: none;
        text-align: center;
        height:22px;
        width:22px;
        background: url("../img/article/dot.png") center no-repeat;
        cursor: pointer;
        &.active{
          background: url("../img/article/active-dot.png")center no-repeat;
        }
      }
    }
    .item-article{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity: 0;
      transition:all 0.2s ease;
      -webkit-transition:all 0.2s ease;
      -moz-transition:all 0.2s ease;
      &.active{
        opacity: 1;
      }
      &.active::before{
        left:0;
      }
      &.active::after{
        right:0;
      }
      &::before{
        position: absolute;
        content:" ";
        width:400px;
        height: 100%;
        left:-600px;
        top:0;
        z-index: 0;
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
      }
      &::after{
        position: absolute;
        content:" ";
        width: 400px;
        height:100%;
        right:-600px;
        top:0;
        z-index: 0;
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
      }
    }
    .article{
      padding-top:120px;
      width:700px;
      height:600px;
      margin:auto;
      img{
        max-width:100%;
        &.history{
          width:100px;
          margin-bottom: 20px;
        }
      }
    }
    .item-article-1{
      &::before{
        background: url("../img/article/left-1.png") no-repeat -40px bottom ;
        background-size: contain;
      }
      &:after{
        background: url("../img/article/right-1.png") no-repeat;
        background-size: contain;
      }
    }
    .item-article-2{
      &::before{
        background: url("../img/article/left-2.png") no-repeat -40px 50% ;
        background-size: contain;
      }
      &:after{
        background: url("../img/article/right-2.png") no-repeat;
        background-size: cover;
      }
    }
    .item-article-3{

      &::before{
        background: url("../img/article/left-3.png") no-repeat -40px -5% ;
        background-size: contain;
      }
      &:after{
        background: url("../img/article/right-3.png") no-repeat 10px 50px;
        background-size: cover;
      }
    }
  }

  &.scene-3{
    z-index: 3;
    //transform: translateZ(-2px) scale(2);
    //-moz-transform: translateZ(-2px) scale(3);
    //-webkit-transform: translateZ(-2px) scale(3);
    background: url("../img/scene3/bg.png") no-repeat;
    background-size: cover;
    .title{
      width:80px;
      position: absolute;
      left:0;
      right:0;
      margin: 80px auto 0;
    }
    .tool-list{
      position: absolute;
      width:1000px;
      text-align: center;
      margin: auto;
      left:0;
      right:0;
      top: 200px;
      .tool-item-wrap{
        display: inline-block;
        position: relative;
      }
      .button-wrap{
        position: absolute;
        width:150px;
        text-align: center;
        left:0;
        right:0;
        bottom:60px;
        margin:auto;
        img{
          width:140px;
        }
        .button-hover{
          opacity: 0;
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin:auto;
        }
        &:hover{
          cursor: pointer;
          .button{
            opacity: 0;
          }
          .button-hover{
            opacity: 1;
          }
        }
      }
      .tool-item{
        margin: 0 10px;
        max-height:420px;
        vertical-align: top;
        &.tool-item-2{
          max-height: 460px;
        }
      }
    }

    .detail-article-wrap{
      position: absolute;
      top: 40px;
      left:0;
      right:0;
      margin: auto;
      width:500px;
      overflow: hidden;
      text-align: center;
      background-color: rgba(0,0,0,0.8);
      transform: translateZ(0px) rotateY(-90deg);
      -webkit-transform: translateZ(0px) rotateY(-90deg);
      -moz-transform: translateZ(0px) rotateY(-90deg);
      transition:all 0.2s ease;
      -webkit-transition:all 0.2s ease;
      -moz-transition:all 0.2s ease;
      &.active{
        transform: translateZ(0px) rotateY(0deg);
        -webkit-transform: translateZ(0px) rotateY(0deg);
        -moz-transform: translateZ(0px) rotateY(0deg);
      }
      .close{
        position: absolute;
        right:20px;
        top:20px;
        cursor: pointer;
      }
      .detail-article-item{
        float: left;
        width:500px;
      }
      &.detail-article-wrap-3{
        .prev,.next{
          position: absolute;
          top:0;
          bottom:0;
          margin: auto;
          cursor: pointer;
          display: none;
          &.active{
            display: block;
          }
        }
        .prev{
          left:30px;
        }
        .next{
          right:30px;
        }
        .dot-wrap{
          position: absolute;
          bottom:40px;
          left:0;
          right:0;
          text-align: center;
          .dot{
            cursor: pointer;
            display: inline-block;
            &.active{
              background-color: #443f30;
            }
            height:12px;
            width:12px;
            margin-left: 8px;
            border-radius:50%;
            background-color: #c5c4bd;
          }
        }
        .detail-article-list{
          width:2000px;
          z-index: -1;
          position: relative;
          .play{
            cursor: pointer;
            height:60px;
            position: absolute;
            bottom:100px;
            right:220px;
          }
        }
      }
    }
  }

  &.scene-4{
    z-index: 4;
    //transform: translateZ(-1px) scale(2);
    //-moz-transform: translateZ(-1px) scale(2);
    //-webkit-transform: translateZ(-1px) scale(2);
    background-color: #e9e3cb;
    &::before{
      position: absolute;
      content:" ";
      width:350px;
      height: 100%;
      left:0;
      top:0;
    }
    &::after{
      position: absolute;
      content:" ";
      width:350px;
      height:100%;
      right:0;
      top:0;
    }
    &::before{
      background: url("../img/scene4/left.png") no-repeat 20px 60px;
      background-size: contain;
    }
    &::after{
      background: url("../img/scene4/right.png") no-repeat;
      background-size: cover;
    }
    .title{
      width:60px;
      position: absolute;
      left:0;
      right:0;
      margin: 60px auto 0;
    }
    .mid-wrap{
      position: absolute;
      left:0;
      right:0;
      margin: 180px auto 0;
      width:650px;
      display: none;
      &.active{
        display: block;
      }
      .mid{
        width: 100%;
      }
      .button-wrap{
        position: absolute;
        width:130px;
        text-align: center;
        right:0;
        bottom:-60px;
        margin:auto;
        img{
          width:120px;
        }
        .button-hover{
          opacity: 0;
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin:auto;
        }
        &:hover{
          cursor: pointer;
          .button{
            opacity: 0;
          }
          .button-hover{
            opacity: 1;
          }
        }
      }
    }
    .play-wrap{
      height:200px;
      position: absolute;
      z-index: 2;
      left:0;
      right:0;
      bottom:0;
      overflow: hidden;
      background: url("../img/scene4/play-bg.png");
      background-size: cover;
      .play{
        &:hover{
          cursor: pointer;
        }
        width:60px;
        position: absolute;
        left:0;
        right:0;
        margin: 60px auto 0;
      }
    }
    .dot-wrap{
      position: absolute;
      z-index: 2;
      bottom:220px;
      left:0;
      right:0;
      text-align: center;
      .dot{
        display: inline-block;
        list-style: none;
        text-align: center;
        height:22px;
        width:22px;
        background: url("../img/article/dot.png") center no-repeat;
        cursor: pointer;
        &.active{
          background: url("../img/article/active-dot.png")center no-repeat;
        }
      }
    }
  }

  &.scene-5{
    z-index: 5;
    //transform: translateZ(0);
    //-moz-transform: translateZ(0);
    //-webkit-transform: translateZ(0);
    background-color: #e9e3cb;
    &::before{
      position: absolute;
      content:" ";
      width:220px;

      height: 100%;
      left:0;
      top:0;
    }
    &::after{
      position: absolute;
      content:" ";
      width:400px;
      height:100%;
      right:0;
      top:0;
    }
    &::before{
      background: url("../img/scene6/left.png") no-repeat 0 bottom;
      background-size: contain;
    }
    &::after{
      background: url("../img/scene6/right.png") no-repeat 0 -30px;
      background-size: cover;
    }
    .title{
      margin-bottom: 30px;
      height:40px;
    }
    .contain-wrap{
      position: absolute;
      left:0;
      right:0;
      top:100px;
      width:820px;
      margin: auto;
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
    }
    .word-wrap{
      position: absolute;
      right:0;
      width:340px;
      top:0;
      z-index: 2;
      img{
        max-width: 100%;
      }
      .word{
        margin-top: 72px;
      }
      .button-wrap{
        position: absolute;
        width:130px;
        text-align: center;
        right:0;
        bottom:-40px;
        margin:auto;
        img{
          width:120px;
        }
        .button-hover{
          opacity: 0;
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin:auto;
        }
        &:hover{
          cursor: pointer;
          .button{
            opacity: 0;
          }
          .button-hover{
            opacity: 1;
          }
        }
      }
    }

    .news-wrap{
      position: absolute;
      top:0;
      left:0;
      width:460px;
      margin: auto;
      img{
        max-width: 100%;
      }
      .news-item-wrap{
        position: relative;
        margin-bottom: 60px;
      }
      .news-item{
      }
      .button-wrap{
        position: absolute;
        width:130px;
        text-align: center;
        right:0;
        bottom:-40px;
        margin:auto;
        img{
          width:120px;
        }
        .button-hover{
          opacity: 0;
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin:auto;
        }
        &:hover{
          cursor: pointer;
          .button{
            opacity: 0;
          }
          .button-hover{
            opacity: 1;
          }
        }
      }
    }
    .top{
      width:80px;
      left:0;
      right:0;
      bottom:30px;
      margin:auto;
      cursor: pointer;
      position: absolute;
    }
  }
}


.mask-scene{
  z-index: 99;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(0,0,0,0.8);
  transform: translateZ(0px) rotateY(-90deg);
  -webkit-transform: translateZ(0px) rotateY(-90deg);
  -moz-transform: translateZ(0px) rotateY(-90deg);
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  &.active{
    transform: translateZ(0px) rotateY(0deg);
    -webkit-transform: translateZ(0px) rotateY(0deg);
    -moz-transform: translateZ(0px) rotateY(0deg);
  }
  .close{
    position: absolute;
    top:20px;
    left:20px;
    cursor: pointer;
  }
  &.scene-1{
    background: url("../img/scene3/bg.png") no-repeat;
    background-size: cover;
    .video-wrap{
      position: absolute;
      left:0;
      right:0;
      width:900px;
      margin: 100px auto 0;
    }
    .title{
      width:200px;
      margin-left: 20px;
    }
    .video-list{
      margin-top: 30px;
      text-align: center;
    }
    a{
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 20px;
      &.first-item{
        margin-left: 0;
      }
    }
    .video-item{
      font-size: 0;
      display: inline-block;
      width:270px;
      position: relative;
      .item-img{
        height:151px;
        width: 100%;
        vertical-align: bottom;
      }
      &:hover{
        cursor: pointer;
        .item-mask{
          opacity: 1;
        }
      }
      .item-mask{
        opacity: 0;
        z-index: 2;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition:all ease 0.5s;
        -webkit-transition:all ease 0.5s;
        -moz-transition:all ease 0.5s;
      }
      .play{
        position: absolute;
        width:40px;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
      }
      p{
        color: #ddd;
        font-size: 16px;
        position: absolute;
        bottom:10px;
        left:0;
        padding-left: 10px;
      }
    }
  }
  &.scene-2{
    background: url("../img/scene3/bg.png") no-repeat;
    background-size: cover;
    .act-wrap{
      position: absolute;
      top:100px;
      width:700px;
      padding-left: 160px;
      left:0;
      right:0;
      margin:auto;
    }
    .title{
      margin-left: -160px;
      width:160px;
      margin-bottom: 20px;
    }
    .act-list{
      width:200px;
      position: absolute;
      left:0;
      .act-item-wrap{
        width:120px;
        height:32px;
        line-height: 32px;
        text-align: center;
        color:#DDD;
        font-size: 14px;
        cursor: pointer;
        background: url("../img/scene7/normal.png") no-repeat;
        background-size: cover;
        &.active,&:hover{
          background: url("../img/scene7/hover.png") no-repeat;
          color: #000;
          background-size: cover;
        }
      }
    }
    .intro{
      height:503px;
      background: url("../img/scene7/bg.png") no-repeat;
      background-size: cover;
      text-align: center;
      img{
        margin-top: 40px;
        width:80%;
      }
    }
  }
  &.scene-3{
    .act-wrap{
      .close{
        left:auto;
        top:5px;
        right:5px;
      }
      position: relative;
      margin: 120px auto 0;
      width:600px;
      height:431px;
      background: url("../img/scene7/bg.png");
      background-size: cover;
      .form-wrap{
        padding-top: 80px;
        margin: auto;
        width:500px;
      }
      .input-wrap{
        margin-bottom: 40px;
      }
      label{
        vertical-align: top;
        display: inline-block;
        width:60px;
      }
      input{
        outline: none;
        border: 1px solid #443f30;
        height:34px;
        width:400px;
        border-radius: 4px;
        background-color: transparent;
        padding-left: 5px;
      }
      textarea{
        padding-left: 5px;
        padding-top: 5px;
        outline: none;
        width: 400px;
        height:100px;
        border-radius: 4px;
        border: 1px solid #443f30;
        resize: none;
        background-color: transparent;
      }
      .button-wrap{
        position: relative;
        width:130px;
        text-align: center;
        display: inline-block;
        &:first-child{
          margin-right: 40px;
        }
        img{
          width:120px;
        }
        .button-hover{
          opacity: 0;
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin:auto;
        }
        &:hover{
          cursor: pointer;
          .button{
            opacity: 0;
          }
          .button-hover{
            opacity: 1;
          }
        }
      }
      .btn-wrap{
        text-align: center;
      }
    }
  }
}