#nav ul {
	margin:0 auto;margin-left: 1em;margin-bottom: 2em;
	padding: 0; }


#nav {
	position: fixed;top:120px;left:120px;margin: 0;border-radius:5px; 
	list-style: none;background-color:#ededed;width:120px;height:200px;	
}

#nav li {  margin-top: 12px;  }

#nav a {border-radius:5px; text-transform:uppercase;
	color: #666;text-decoration:none;font-size:18px;font-family:"微软雅黑";font-weight:normal;  
	display:block;margin:0 auto; text-align:center;width:60px; height:35px;line-height:35px;  
}

#nav a:hover { background: #cedede;}

#nav .current a {  background:#58a6fb;color:#eef;}

#new-info-container{ margin:0 auto; width:800px;}

.section {   min-height:600px;width:800px;}
.section .content{width:800px; /*padding:0 50px;*/ min-height:500px;border-radius:10px;
	              /*border-bottom: 5px solid #ccc;*/background-color:#fff;}
.section .content img{margin-left:150px;}	              
.section:last-child {margin-bottom:0;}

.blank{width:800px;height:100px;background-color:#fff; }